extends admin

block content
    h2.centered.mb20.title-font Administration de la galerie
    input(id='type', type='hidden', value='' + type)
    div.logout
        button.btn(onclick='window.location.href = "/logout";')
            span Se déconnecter
    div.admin-back
        button.btn(onclick='window.location.href = "/admin";')
            span Retour au menu >>
    div.row-fluid
        div.span2
        div.span8.common-back.img-list
            each image in images
                div.img-min
                    img(src='data:Image;base64,' + image.data)
        div.span1
            div.common-back.common-img-btn
                form(id='uploadForm', action='/upload/'+type, method='post', enctype='multipart/form-data', style='margin:0')
                    input.hidden(type='file', id='browseImage', name='browseImage', onchange='uploadImage();')
                img(src='/images/add.png', title='Ajouter une nouvelle image', onclick='browseImage();')
            div.common-back.common-img-btn
                img.enabled.hidden(src='/images/zoom.png', title='Afficher l&rsquo;image')
                img.disabled(src='/images/zoom-disable.png', title='Aucune image sélectionnée')
            div.common-back.common-img-btn
                img.enabled.hidden(src='/images/delete.png', title='Supprimer l&rsquo;image')
                img.disabled(src='/images/delete-disable.png', title='Aucune image sélectionnée')
    script(type='text/javascript', charset='utf-8')
        $('.img-min > img').click(enableMenu);