block scripts
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat+Alternates')
    script(type='text/javascript', charset='utf-8', src='/javascripts/lib/jquery-1.8.2.min.js')
    script(type='text/javascript', charset='utf-8', src='/javascripts/admin.js')
block content