extends admin

block content
  h2.centered.mb20.title-font Administration du site
  div.logout
    button.btn(onclick='window.location.href = "/logout";')
      span Se déconnecter
  div.admin-back
    button.btn(onclick='window.location.href = "/";')
      span Retour au site
  div.row-fluid
    div.span2
    div.span3.common-back
      h4.centered.title-font Images
      div.ml30.pb10
        button.btn.admin_btn(onclick='window.location.href="/admin/arts/pictures"')
          img(src='images/btnPicture.jpg')
        span.admin-link.title-font Modifier les Photos
      div.ml30.pb10
        button.btn.admin_btn(onclick='window.location.href="/admin/arts/collages"')
          img(src='images/btnCollage.jpg')
        span.admin-link.title-font Modifier les Collages
      div.ml30.pb10
        button.btn.admin_btn(onclick='window.location.href="/admin/arts/drawings"')
          img(src='images/btnDrawing.jpg')
        span.admin-link.title-font Modifier les Dessins
    div.span2
    div.span3.common-back
      h4.centered.title-font Contenu
      div.ml30.pb10
        button.btn.admin_btn(onclick='window.location.href="/admin/myself"')
          img(src='images/btnMyself.jpg')
        span.admin-link.title-font Modifier l'Autobiographie
      div.ml30.pb10
        button.btn.admin_btn(onclick='window.location.href="/admin/works"')
          img(src='images/btnWorks.jpg')
        span.admin-link.title-font Modifier les Réalisations
      div.ml30.pb10
        button.btn.admin_btn(onclick='window.location.href="/admin/projects"')
          img(src='images/btnProjects.png')
        span.admin-link.title-font Modifier les Projets
