doctype 5
html
  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/slider.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery-ui-1.8.24.custom.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat+Alternates')
    script(type='text/javascript', charset='utf-8', src='/javascripts/lib/jquery-1.8.2.min.js')
    script(type='text/javascript', charset='utf-8', src='/javascripts/lib/jquery-ui-1.8.24.custom.min.js')
    script(type='text/javascript', charset='utf-8', src='/javascripts/lib/jquery.easing.1.3.js')
    script(type='text/javascript', charset='utf-8', src='/javascripts/lib/jquery.imagesloaded.min.js')
    script(type='text/javascript', charset='utf-8', src='/javascripts/lib/bootstrap.min.js')
    script(type='text/javascript', charset='utf-8', src='/javascripts/script.js')
    block scripts
  body.unselectable
    block menu
    div.slide_loading
      p Chargement en cours ...
    div#mainContent
      block content