.w100 { width: 100%; }
.mt10 { margin-top: 10px; }
.mb20 { margin-bottom: 20px; }
.ml30 { margin-left: 30px; }
.p20 { padding: 20px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pb10 { padding-bottom: 10px; }

.prl5 {
  padding-left: 5px;
  padding-right: 5px;
}

.title {
	text-align: center;
	margin: auto;
	padding: 15px;
	background-color: white;
}

.title-font {
	font-family: 'Montserrat Alternates', sans-serif;
}

.divider-v {
	height: 40px;
	margin: 0px;
	border-right: 1px solid white;
	border-left: 1px solid #F2F2F2;
}

a {
  outline:none;
}

body {
  background-color: #E6E6E6 !important;
}

.bg_white {
	background-color: white;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.miss {
  background: url(../images/404.jpg) no-repeat white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 112px;
  left: 0px;
}

.screen-margin {
	margin: 0 30px;
}

.text-content {
	padding: 10px 10px 0 10px;
	text-align: justify;
}

.centered {
	text-align: center;
}

.home-img {
	position: fixed;
	border: solid;
}

.home-img img {
  border: solid white;
}

.hidden {
	display: none !important;
}

.contact {
	padding-top: 20px;
}

.contact textarea {
	width: 100%;
	height: 200px;
	margin: 0;
	resize: none;
}

.contact span {
	padding-left: 40px;
	vertical-align: middle;
}

.contact div.span3 {
	text-align: right;
}

.admin-link {
	margin-left: 10px !important;
	width: 100%;
}

.warning {
	color: orange;
	text-align: center !important;
}

.validate {
	color: #088A08;
	font-weight: bold;
	padding-bottom: 10px;
}

.error {
  color: red;
  font-weight: bold;
  padding-bottom: 10px;
}

.admin-back {
	position: fixed;
	top: 40px;
	right: 0;
	margin-right: 5px;
}

.logout {
  position: fixed;
  top: 5px;
  right: 0;
  margin-right: 5px;
}

.admin-menu {
	background-color: white;
  margin: 5px;
  border: solid 1px;
  padding: 5px 10px;
}

.img-list {
	background-color: white;
	border: solid 1px;
	float: left;
	width: 100%;
	min-height: 112px;
}

.img-min {
	height: 100px;
	border: solid 1px;
	float: left;
	margin: 5px;
}

.img-min img {
	height: inherit;
	cursor: pointer;
}

.img-min img:hover {
  opacity: 0.5;
}

.login {
	margin-top: 100px;
	padding-top: 25px;
}

.common-back {
	background-color: white;
	-moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.common-img-btn {
	width: 50%;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.selected {
	-moz-box-shadow: 0px 0 5px 5px blue;
	-webkit-box-shadow: 0px 0 5px 5px blue;
	box-shadow: 0px 0 5px 5px blue;
}