div#fp_thumbContainer
  div#fp_thumbScroller
    div.imgContainer
      each image in images
        div.content
          div
            a(href='#')
              img(src='data:image/jpg;base64,' + image.get('data'), alt='data:image/jpg;base64,' + image.get('data')).thumb
div#fp_scrollWrapper.fp_scrollWrapper
  span#fp_prev_thumb.fp_prev_thumb
  div#slider.slider
  span#fp_next_thumb.fp_next_thumb
div#fp_overlay.fp_overlay
div#fp_loading.fp_loading
div#fp_next.fp_next
div#fp_prev.fp_prev
div#fp_close.fp_close
script(type='text/javascript', charset='utf-8', src='javascripts/slider.js')