//-----------------------------------------------------------------------------
// Colors

$black: #000;
$white: #fff;

$light-gray: #f3f6ed;
$gradient-light-gray: #e2e2e2;
$gradient-gray: #e0e0e0;
$silver: #c0c0c0;
$medium-gray: #d1d1d1;


//-----------------------------------------------------------------------------
// Shadows

$black-shadow: 0 0 3px $black;


//-----------------------------------------------------------------------------
// Media queries

$phone-screen-height: 270px;
$tablet-screen-height: 480px;
$medium-screen-height: 650px;
$big-screen-height: 950px;


//-----------------------------------------------------------------------------
// Layout

$navbar-height: 50px;
