div.screen-margin
    div.row-fluid
        div.span2.common-back.p10.centered
            img(src='images/portrait.jpg')
        div.span10.common-back.pt10.text-content
            p
                | Moussette né en septembre 1954, libre d’esprit et de penser.
                | <br />Etant touche à tout, j’aime créer des choses qui sortent des chemins battus. Je laisse aller mon imaginaire et je me fais plaisir en réalisant mes idées, mes envies.
                | <br /><br />
                | J’ai écris un petit roman au édition Académie Européenne qui s’appelle GI. Histoire que j’ai inventé suite à un voyage en Algérie.
                | <br /><br />
                | Ma devise :
                | <br /><i><center>La vie n’offre sa beauté qu’à ceux qui l’étreignent à plein bras.
                | <br />Don Fernando</center></i>
                | <br />
                | Projets et idées:
                | <br />
                | Si ma 4L me lâche, une nouvelle construction sur une autre base... avec un autre chassis ?
                | <br />
                | Motoquad mais là il me faudrait un ou deux partenaires.
                | <br />
                | Robes de bien-être (concept de robes différentes, mais surtout une distribution du produit innovante).
