<header class="navbar">
    <div class="navbar__title">La galerie de Moussette</div>
    <nav>
        <ul class="navbar__actions">
            <li class="navbar__actions__action">
                <a href="#/" class="navbar__actions__action__link">Accueil</a>
            </li>
            <li class="navbar__actions__action">
                <a href="#/pictures" class="navbar__actions__action__link">Photos</a>
            </li>
            <li class="navbar__actions__action">
                <a href="#/collages" class="navbar__actions__action__link">Collages</a>
            </li>
            <li class="navbar__actions__action">
                <a href="#/drawings" class="navbar__actions__action__link">Dessins</a>
            </li>
            <li class="navbar__actions__action">
                <a href="#/contact" class="navbar__actions__action__link">Contact</a>
            </li>
        </ul>
    </nav>
</header>